/*Цвет выделения текста*/
::selection {background: #ccc;}
::-moz-selection {background: #ccc;}
::-webkit-selection {background: #ccc; color:#fff;}

/*Шрифт*/
@font-face {
  font-family: 'unnamedregular';
  src: url('fonts/Maznya.woff2') format('woff2'),
       url('fonts/Maznya.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/*Мерцающие ссылки*/
a {
  color: rgb(255, 255, 255);
  text-shadow: 0 -1px rgba(0,0,0,.1);
  -webkit-animation: pulsate 2s linear infinite;
  animation: pulsate 2s linear infinite;

  cursor:url("cursors/rrw2.png") 10 10, auto;
}

@-webkit-keyframes pulsate {
  50% { color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px rgb(201, 201, 201), 0 0 8px #fff; }
 }
@keyframes pulsate {
  50% { color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px rgb(201, 201, 201), 0 0 8px #fff; }
 }

/*Свечение ссылок при наведении курсора*/
a:hover {
  -webkit-animation: blink1 3s linear infinite;
  animation: blink1 3s linear infinite;

  cursor:url("cursors/rrw2.png") 10 10, auto;
}

@-webkit-keyframes blink1 {
  0% { color: rgb(255, 255, 255); }
  50% { color: rgba(0, 0, 0, 0); }
  100% { color: rgb(255, 255, 255); }
}
@keyframes blink1 {
  0% { color: rgb(255, 255, 255); }
  50% { color: rgba(0, 0, 0, 0); }
  100% { color: rgb(255, 255, 255); }
}

html,
body {
  height: 100%;
}

body {
    
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;

  /*Установка шрифта*/
  font-family: 'unnamedregular', sans-serif;
  color: rgb(175, 175, 175);

  /*Анимированный фон*/
  background-color: #000000;
  background-image: url('images/bgn1.gif');
  background-repeat: repeat;
  background-attachment: fixed;
  
  /*Курсор*/
  cursor:url("cursors/rrw.png") 10 10, auto;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


  /*
   * Override Bootstrap's default container.
   */

/*Кнопка*/
.btn-primary{
    background-color: #222222;
    background-image: url('images/bgn2.gif');
    border-color: #222222;
    margin-bottom: 25px;
}

/*Кнопка при наведении курсора*/
.btn-primary:hover{
    color: #000000;
    background-color: #bbbbbb;
    border-color: #bbbbbb;
}

/*Кнопка при нажатии*/
.btn-primary:not(:disabled):not(.disabled):active{
    color: #000000;
    background-color: #bbbbbb;
    border-color: #bbbbbb;
}

/*Кнопка при фокусировке*/
.btn-primary:focus{
    color: #000000;
    background-color: #bbbbbb;
    border-color: #bbbbbb;
    box-shadow: 0 0 0 0.2rem rgba(126, 126, 126, 0.25);
}

/*Кнопка при активыции и фокусировке*/
.btn-primary:not(:disabled):not(.disabled):active:focus{
    box-shadow: 0 0 0 0.2rem rgba(126, 126, 126, 0.25);
}


/*Курсор при наведении на кнопку*/
.btn:not(:disabled):not(.disabled) {
    cursor:url("cursors/rrw2.png") 10 10, auto;
}

/*Форма*/
.form-control{
    color: #e2e2e2;
    background-color: #111111;
    background-image: url('images/bgn3.gif');
    border-color: #111111;
    border:  #222222;
}

/*Активная форма*/
.form-control:focus{
    color: #1f1f1f;
    background-color: #ebebeb;
    border-color: #ebebeb;
    box-shadow: 0 0 0 0.2rem rgba(126, 126, 126, 0.25);
}

/*Курсор формы*/
input {
  cursor:url("cursors/rrw.png") 10 10, auto;
}